<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="parent">
        <div class="child">
        <table>
        <tr>
            <th>중식</th>
        </tr>
    
        </table>
        </div>
    
        <div class="child">
        <table>
        <tr>
            <th>석식</th>
        </tr>
    
        </table>
        </div>
    </div>
    
    </div>
</body>
</html>